In [11]:
import pandas as pd

In [15]:
pd.set_option('display.max_rows', None)

In [16]:
df = pd.read_csv('train.csv')

In [17]:
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [18]:
df.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [19]:
df.shape

(7613, 5)

In [26]:
df['location'].fillna('unknown', inplace = True)

In [28]:
df = df.dropna()

id          0
keyword     0
location    0
text        0
target      0
dtype: int64